html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

body {
  min-width: 320px;
  min-height: 100%;
  font-family: "Lato";
  background: url(../../public/images/bg.jpg) no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 62.5%; 
  line-height: 1; 
  width: 100%;
  min-width: 100%;
}

body.scroll-off {
  overflow-y: hidden;
  padding-right: 17px;
}

body.scroll-off > header,
body.scroll-off > footer {
  padding-right: 47px;
}

html {
  height: 100%;
}

progress {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-size: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { 
  content: ''; content: none; 
}

strong { font-weight: bold; } 

input, button { outline: none; border: none; }

input:-moz-focusring { outline: none; }

input::-webkit-input-placeholder { transition: color ease-in-out .1s }
input:-moz-placeholder { transition: color ease-in-out .1s }
input:-ms-input-placeholder { transition: color ease-in-out .1s }
input::placeholder { transition: color ease-in-out .1s }

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; }
input:focus:-ms-input-placeholder { color: transparent; }
input:focus::placeholder { color: transparent; }

button::-moz-focus-inner { border: none; padding: 0; }

input::-ms-clear {
   display: none;
}

table { border-collapse: collapse; border-spacing: 0; }

img { 
  border: 0; 
  max-width: 100%; 
}

a { text-decoration: none; }

a:hover { text-decoration: underline; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}

@media (max-width: 767px) {
  body {
    background: #7a67a8;
  }
}