.default-button {
  font-size: 220%;
  background-color: #6ca7ba;
  color: #ffffff;
  outline: none; 
  cursor: pointer;
  transition: background-color .1s;
}

.default-button:hover {
  text-decoration: none;
  background-color: #74b3c7;
}

.default-button:disabled:hover {
  background-color: #6ca7ba;
}

.default-button:disabled {
  cursor: no-drop;
}

.default-button.sign-in,
.default-button.register,
.default-button.cancel {
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 45px;
  border: none;
}

.default-button.cancel {
  background-color: #dd7a7a;
}

.default-button.cancel:hover {
  background-color: #f98b8b;
}

.default-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.default-checkbox + label {
  position: relative;
  vertical-align: middle;
  line-height: 20px;
  font-size: 15px;
  padding: 0 0 0 30px;
  color: #ffffff;
}

.default-checkbox + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url(../images/tick.svg) no-repeat;
  background-size: 0;
  background-position: center;
  border: 1px solid #ffffff;
  transition: background-size .1s;
  cursor: pointer;
}

.default-checkbox:checked + label:after {
  background-size: 80%;
  background-position: center;
}

@media (max-width: 767px) {
  .default-button:hover {
    background-color: #6ca7ba;
  }
  
  .default-button.cancel:hover {
    background-color: #dd7a7a;
  }
  
  .default-button.sign-in,
  .default-button.register,
  .default-button.cancel {
    font-size: 170%;
    padding: 0;
    text-align: center;
  }
  
  .default-button.register,
  .default-button.cancel {
    margin-top: 15px;
  }
  
}

@media (max-width: 499px) {
  .default-button.sign-in,
  .default-button.register,
  .default-button.cancel {
    height: 35px;
    line-height: 35px;
  }
}