.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-enter {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}
  
  .fade-enter.fade-enter-active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: opacity 200ms ease-in-out,
                transform 200ms ease-in-out;
  }
  
  .fade-exit {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: opacity 200ms ease-in-out,
                transform 200ms ease-in-out;
  }
  