.wrapper-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
  background-color: #686bae;
  outline: 5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.circle-button.exit.profile-button {
  position: absolute;
  right: 30px;
  top: -25px;
}

.circle-button.settings.profile-button {
  position: absolute;
  left: 30px;
  top: -25px;
}

.profile > header {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 40%;
}

.profile > main {
  height: 60%;
  background-color: #494c90;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.navigation span {
  padding: 0 7px 17px 7px;
  color: #494c90;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: color .1s, border-color .1s;
}

.navigation span:hover {
  color: #4eb0de;
  border-color: #4eb0de;
}

.navigation span.active {
  color: #9ee0ff;
  border-color: #9ee0ff;
  cursor: default;
}

.rooms {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rooms .room-create {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px dotted #686bae;
}

.rooms .room-create input {
  flex-grow: 1;
  height: 40px;
  padding: 0 10px 0 20px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: transparent;
  color: #9ee0ff;
  text-align: center;
}

.rooms .room-create input:focus::-webkit-input-placeholder { color: transparent; }
.rooms .room-create input:focus:-moz-placeholder { color: transparent; }
.rooms .room-create input:focus:-ms-input-placeholder { color: transparent; }
.rooms .room-create input:focus::placeholder { color: transparent; }

.rooms .room-create input::-webkit-input-placeholder { color: #9ee0ff; }
.rooms .room-create input:-moz-placeholder { color: #9ee0ff; }
.rooms .room-create input:-ms-input-placeholder { color: #9ee0ff; }
.rooms .room-create input::placeholder { color: #9ee0ff; }

.rooms .room-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 17px;
  font-weight: 300;
  color: #ffffff;
  border-left: 15px solid transparent;
}

.room-item .container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  background-image: url(../../../public/images/tic-tac-toe.png);
  background-size: 50%;
  overflow: hidden;
}

.room-item.default-mod:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: url(../../../public/images/default-mod.svg) no-repeat center;
  background-size: 100%;
}

.room-item .room-players {
  text-align: center;
  flex-grow: 1;
}

.room-item .room-name {
  font-size: 20px;
}

.room-item .enter-button {
  position: absolute;
  right: -10px;
  height: 40%;
  width: 100px;
  border-radius: 10px 0 0 10px;
  background: #50b759 url(../../../public/images/enter-the-room.svg) no-repeat center;
  background-size: 20%;
  cursor: pointer;
  color: #ffffff;
  font-size: 10px;
  transition: right .1s;
}

.room-item .enter-button:hover {
  right: 0;
}

.profile .avatar {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ecf0f1 url(../../../public/images/default-profile.svg) no-repeat center;
  background-size: 100%;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.profile > header .info {
  margin-top: 110px;
  text-align: center;
}

.profile > header .info h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 8px;
}

.profile > header .info span {
  position: relative;
  font-size: 11px;
  color: #65d26f;
}

.profile > header .info span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #65d26f;
  opacity: .9;
}