body {
  min-width: 320px;
  min-height: 100%;
  font-family: "Lato";
  background: url(../images/bg.jpg);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
  background-color: #686bae;
  outline: 5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.profile > header {
  padding: 0 20px;
  height: 40%;
}

.profile > main {
  padding: 0 20px;
  height: 60%;
}

.profile > main {
  background-color: #494c90;
}

.profile .avatar {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ecf0f1 url(../images/default-profile.svg) no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

.profile .header {
  margin-top: 110px;
  text-align: center;
}

.profile .header h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 8px;
}

.profile .header span {
  position: relative;
  font-size: 11px;
  color: #65d26f;
}

.profile .header span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #65d26f;
  opacity: .9;
}

@media (max-width: 767px) {
  body {
    background: #7a67a8;
  }
  
  .wrapper {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    min-width: 320px;
    height: 100vh;
  }
  
}

@media (max-width: 499px) {
  
}