body {
  min-width: 320px;
  min-height: 100%;
  font-family: "Lato";
  background: url(../images/bg.jpg);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  width: 540px;
  background-color: #7a67a8;
  outline: 10px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.registration form > *:not(:first-child) {
  margin-top: 15px;
}

.registration input {
  width: 100%;
  height: 70px;
  padding: 0 20px 0 90px;
  font-size: 30px;
  color: #51466b;
}

.registration .username,
.registration .password,
.registration .confirm-password,
.registration .email {
  position: relative;
}

.registration .username input + label {
  background: #6ca7ba url(../images/user.svg) center no-repeat;
}

.registration .password input + label, 
.registration .confirm-password input + label {
  background: #6ca7ba url(../images/lock.svg) center no-repeat;
}

.registration .email input + label {
  background: #6ca7ba url(../images/arroba.svg) center no-repeat;
}

.registration .username input + label,
.registration .password input + label,
.registration .confirm-password input + label,
.registration .email input + label {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-size: 70%;
  cursor: pointer;
}

.registration input::-webkit-input-placeholder { color: #51466b; }
.registration input:-moz-placeholder { color: #51466b; }
.registration input:-ms-input-placeholder { color: #51466b; }
.registration input::placeholder { color: #51466b; }

.registration input:focus::-webkit-input-placeholder { color: transparent; }
.registration input:focus:-moz-placeholder { color: transparent; }
.registration input:focus:-ms-input-placeholder { color: transparent; }
.registration input:focus::placeholder { color: transparent; }

.buttons,
.additional {
  display: flex;
  justify-content: space-between;
}

.additional_forgot-password {
  vertical-align: top;
  line-height: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: border-bottom-color .1s;
}

.additional_forgot-password:hover {
  text-decoration: none;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  body {
    background: #7a67a8;
  }
  
  .wrapper {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    min-width: 320px;
    height: 100vh;
  }
  
  .registration {
    justify-content: center;
    background-color: transparent;
    outline: none;
    width: auto;
    height: 100%;
    padding: 30px 20px;
  }
  
  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 499px) {
  .registration input {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 60px;
    font-size: 17px;
    color: #51466b;
  }
  
  .registration .username input + label,
  .registration .password input + label,
  .registration .confirm-password input + label,
  .registration .email input + label {
    width: 40px;
    height: 40px;
  }
}