.field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.field-row,
.field-col {
  display: flex;
  flex-grow: 1;
}

.field-row {
  border: 1px solid #686bae;
}

.field-row:not(:last-child) {
  border-bottom-color: transparent;
}

.field-col {
  box-sizing: border-box;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.field-col:not(:last-child) {
  border-right: 1px solid #686bae;
}


.field-col.o {
  background-image: url(../../../public/images/o.svg);
}

.field-col.x {
  background-image: url(../../../public/images/x.svg);
}
